doctype html
html
  head
    title= title
    script(src="https://cdn.tailwindcss.com") 
    script(src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous")
  body.min-h-screen.w-full.flex.flex-col.justify-center.items-center
    block content
